/* CSS Document */
body{padding-top:10px;
     margin-left:0px;
     text-align:left;
	 margin-top:0px;

	
	 
	 }
.kk
{
font-size:12px;
}
.Butt {PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	FONT-SIZE: 12px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde);
	CURSOR: hamd;
	COLOR: black;
	PADDING-TOP: 2px;
	border: 1px solid #999999;
	height: 20px;
}
p.menu{
     font-size:12px;
	 margin-left:0;
	 margin-right:0;

}

p.menu a{
      color:#000099;
	  text-decoration:none;
}

p.menu a:hover{
      text-decoration: underline;
	  border-botton:solid 10px #D2691E;
	  color:#000099;
}
h1{
      padding-top:0px;
	  padding-left:4px;
	  text-align:left;
	  font-size:12px;
	  }
p {

	  font-size:12px;
	  color:#333333;
	  top:5px;
	  

	  }  
	  


.content {
margin-left:28px;
margin-right:100px;
text-align:left;

}


.style2 {font-size:12px;
}
.dd {
	font-size: 12px;
	text-decoration: none;
}
