html, body { 
	height: 95%; 
	width: 95%
	padding:15px 15px;
	font-size: 14px;
	/*background-image: url("/img/background_img3.jpg");*/
	/*background-size: auto,auto;*/
  background-color:#FDF8FC;
}
.DataForm { 
  height: 90%; 
  width: 100%
}
.mytable{
	width:100%;
	margin-bottom:1.0rem;
	background-color: #ffff;
}

.imgCSS{
  height: 200px;
	max-width:  -50%;
	display:  flex;
 	align-items: center;
 	justify-content:  center;
}



.text-left{
  text-align: left;
}
a{
	text-decoration-color: red;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.text-18{
	font-size: 18px;
}
/*.text-vertical{
	position: relative;
  transform: translateX(-50%,-50%);
  top:50%;
}*/


